// Reused Styles

#wrapwrap {
    overflow: unset;
}

//////////////
///
///
///

.flash-deal {
    display: flex;
    justify-content: center;
}

.sell-header-title {
    min-width: max-content;
    max-width: max-content;
}

.flash-sell-timer-time {
    background: var(--color-primary);
    color: var(--color-white);
    min-width: 310px;
    text-align: center;
}

// button \\
.best-deal-arrow {
    display: flex;
    position: absolute;
    right: 0;
}

.best-deal-arrow ul {
    list-style-type: none;
    display: contents;
}

.slider-arrow {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 0;
}

.slider-arrow i {
    font-size: 1.6rem;
    line-height: 1;
    display: inline-block;
}

.slider-arrow:hover {
    background: var(--color-primary);
    transition: all 0.2s ease-in-out;
}

.slider-arrow:hover i {
    color: var(--color-white);
    transition: all 0.2s ease-in-out;
}

.fa-chevron-left {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(12%, 36%);
}

.fa-chevron-right {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-12%, 36%);
}

// Box inner \\
//**  animation start  **\\
.box-inner {
    display: flex;
    flex-direction: column;
    border: solid transparent 2px;
    // transform-origin: 0 0;
    // transform: scaleX(0);
    transition: transform 0.4s ease-in-out;
}

.box-inner:hover {
    border: solid var(--color-primary) 2px;
    // transform: scaleX(1);
}

//  --    animation end   --  \\

// PRODUCT ITEM
.box-title {
    height: 50px;
    max-height: 50px;
    opacity: 1;
    transition: opacity 0.2s ease-in;
}

.box-rating {
    display: flex;
}

.box-rating ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.box-rating li a {
    color: var(--color-primary) !important;
}

.box-rating li i {
    font-size: 1.5rem;
}

.box-price {
    display: flex;
}

.box-price p {
    margin-bottom: 0;
}

.box-price-new {
    font-size: 2rem;
    color: var(--color-primary);
    margin-right: 10px;
}

.box-price-old {
    color: var(--color-gray);
    font-size: 1.5rem;
    text-decoration: line-through;
}

// Box action vertical \\
.box-action-vertical {
    top: 10px;
    right: 0;
    opacity: 0;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease-in-out;
}

.box-inner:hover .box-action-vertical {
    opacity: 1;
    transform: translate3d(-30%, 0, 0);
}

.box-action-vertical>div {
    width: 34px;
    height: 34px;
    text-align: center;
    background: var(--color-gray);
    color: var(--color-black);
}

.box-action-vertical>div i,
.box-action-vertical>div svg {
    font-size: 1.6rem;
}

.box-action-vertical>div:hover {
    background: var(--color-primary);
}

.box-action-vertical>div:hover i,
.box-action-vertical>div:hover svg {
    color: var(--color-white);
    fill: var(--color-white);
}

// box action \\

//**  animation start  **\\
.box-action {
    position: absolute;
    transform: translate3d(0, 100%, 0);
    transition: transform 0.2s ease-in-out;
    width: 100%;
    padding-bottom: 8px;
    background: var(--color-white);
    bottom: 0;
}

.box-inner:hover .box-action {
    transform: translate3d(0, 0, 0);
}

.box-inner:hover .box-title {
    opacity: 0;
}

//  --    animation end   --  \\

.box-action-price {
    height: 25%;
}

.box-action>.box-cart a {
    width: 100%;
    height: 60px;
    padding: 0.8rem;
}

.box-action>.box-cart a,
.box-action>.box-cart i {
    font-size: 1.6rem;
}

// Flash deal product \\
.flash-deal-product {
    background: #fffff5;
    border: 2px solid var(--color-primary);
}


.flash-deal-product-inner {
    display: flex;
    flex-flow: row wrap;
}

.flash-deal-product-name {
    flex: 1 100%;
    order: 1;
}

.flash-deal-product-image {
    width: 250px;
    min-width: 250px;
    height: auto;
    order: 2;
}

.flash-deal-product-details {
    display: block;
    width: 50%;
    order: 3;

    .flash-deal-product-price {
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        margin: 10px 0px;
    }

    .flash-deal-product-price p {
        height: fit-content;
        margin-bottom: 0;
    }

    .offer {
        background-color: red;
        color: white;
        align-self: baseline;
        height: fit-content;
    }

    .flash-deal-product-availability {
        display: flex;
    }
    .flash-deal-product-sell-time {
        background: rgb(240,240,240);
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem 0;
        
    }
}

.flash-deal-product-availability {
    * {
        font-size: 1.6rem;
    }
    p {
        color: var(--color-black);
    }
}

.flash-deal-product-description p {
    height: 78px;
    color: var(--color-black);
    overflow: hidden;
    text-align: justify;
    font-size: 1.4rem;
}

.flash-deal-product-sell-time {
    h3 {
        font-weight: normal;
        gap: 2rem;
        display: flex;
        align-items: center;
        margin: 1rem 1.6rem;
        font-size: 1.4rem;
    }
    span {
        font-weight: normal;
        display: flex;
        width: 37px;
        text-align: center;
    }
}
.flash-deal-product-utility {
    order: 4;
    a {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    a>i {
        font-size: 1.4rem;
    }
    a>span{
        font-size: 1.4rem;
        font-weight: bold;
    }
    .bg-grey {
        max-width: 40px;
        max-height: 40px;
        background-color: #f0f0f0;
    }
    .button-cart {
        gap: 1rem;
    }
}


.flash-deal-product-rating {
    display: flex;

    ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
    }

    ul li i {
        font-size: 1.8rem;
    }
}


// ------- flash deal end ------ \\