// Reused Styles

#wrapwrap {
    overflow: unset;
}

//////////////
///
///
///
/// 
///
/// 

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1320px;
    }
}

.flash-deal {
    display: flex;
    justify-content: center;
}

.sell-header-title {
    min-width: max-content;
    max-width: max-content;

    h2 {
        font-size: 2rem !important;
        letter-spacing: 0.9px !important;
    }
}

.flash-sell-timer-time {
    background: var(--color-primary);
    color: var(--color-white);
    min-width: 310px;
    text-align: center;
}

// button \\
.best-deal-arrow {
    display: flex;
    position: absolute;
    right: 1rem;
}

.best-deal-arrow ul {
    list-style-type: none;
    display: contents;
}

.slider-arrow {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 0;
}

.slider-arrow i {
    font-size: 1.6rem;
    line-height: 1;
    display: inline-block;
}

.slider-arrow:hover {
    background: var(--color-primary);
    transition: all 0.2s ease-in-out;
}

.slider-arrow:hover i {
    color: var(--color-white);
    transition: all 0.2s ease-in-out;
}

.fa-chevron-left {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(12%, 36%);
}

.fa-chevron-right {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-12%, 36%);
}

// Box inner \\
.box-inner {
    max-width: 206px;
    padding: 5px 0 !important // padding: 0.5rem !important;
}

//**  animation start  **\\
.items-slider {
    display: flex;
    flex-direction: column;
    border: solid transparent 2px;
    min-width: 206px;
    max-width: 206px;
    padding: 0 5px !important;
    margin: 0 5px !important;
    // transform-origin: 0 0;
    // transform: scaleX(0);
    transition: transform 0.4s ease-in-out;
}

.items-slider:hover {
    border: solid var(--color-primary) 2px;
    // transform: scaleX(1);
}

//  --    animation end   --  \\

// PRODUCT ITEM
.box-title {
    height: 50px;
    max-height: 50px;
    opacity: 1;
    transition: opacity 0.2s ease-in;
}

.box-rating {
    display: flex;
}

.box-rating ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.box-rating li a {
    color: var(--color-primary) !important;
}

.box-rating li i {
    font-size: 1.5rem;
}

.box-price {
    display: flex;
}

.box-price p {
    margin-bottom: 0;
}

.box-price-new {
    font-size: 2rem;
    color: var(--color-primary);
    margin-right: 10px;
}

.box-price-old {
    color: var(--color-gray);
    font-size: 1.5rem;
    text-decoration: line-through;
}

// Box action vertical \\
.box-action-vertical {
    top: 10px;
    right: 0;
    opacity: 0;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease-in-out;
}

.items-slider:hover .box-action-vertical {
    opacity: 1;
    transform: translate3d(-30%, 0, 0);
}

.box-action-vertical>div {
    width: 34px;
    height: 34px;
    text-align: center;
    background: var(--color-gray);
    color: var(--color-black);
}

.box-action-vertical>div i,
.box-action-vertical>div svg {
    font-size: 1.6rem;
}

.box-action-vertical>div:hover {
    background: var(--color-primary);
}

.box-action-vertical>div:hover i,
.box-action-vertical>div:hover svg {
    color: var(--color-white);
    fill: var(--color-white);
}

// box action \\

//**  animation start  **\\
.box-action {
    position: absolute;
    transform: translate3d(0, 100%, 0);
    transition: transform 0.2s ease-in-out;
    width: 100%;
    padding: 12px;
    background: var(--color-white);
    bottom: 0;
    left: 0;
}

.items-slider:hover .box-action {
    transform: translate3d(0, 0, 0);
    margin-bottom: 0.8rem;
}

.items-slider:hover .box-title {
    opacity: 0;
}

//  --    animation end   --  \\

.box-action-price {
    height: 25%;
}

.box-action>.box-cart a {
    width: 100%;
    height: 44px;
    padding: 0.8rem;
}

.box-action>.box-cart a,
.box-action>.box-cart i {
    font-size: 1.6rem;
}

// Flash deal product \\
.flash-deal-product {
    background: #fffff5;
    border: 2px solid var(--color-primary);

    .flash-deal-product-inner {
        display: flex;
        flex-flow: row wrap;
        padding: 1rem;
    }

    .flash-deal-product-name {
        flex: 1 100%;
        transition: all 0.1s ease-in-out;
        order: 1;
    }

    .flash-deal-product-image {
        width: 250px;
        min-width: 250px;
        height: auto;
        order: 2;
    }
}

.flash-deal-product-image {
    position: relative;

    .flash-deal-product-badge {
        position: absolute;
        padding: 0 0.6rem;
        border-radius: 0.25rem !important;
        border-style: solid;
        border-width: 1px;
        border-color: var(--color-primary);
        font-size: 1rem;
        top: 12px;
        left: 0;
    }
}

.flash-deal-product-badge {
    span {
        font-size: 1.5rem;
        color: var(--color-black);
    }
}

.flash-deal-product-details {
    display: block;
    width: calc(100% - 250px);
    order: 3;

    .flash-deal-product-price {
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        margin: 10px 0px;
    }

    .flash-deal-product-price p {
        height: fit-content;
        margin-bottom: 0;
    }

    .offer {
        background-color: red;
        color: white;
        align-self: baseline;
        height: fit-content;
    }

    .flash-deal-product-availability {
        display: flex;
    }

    .flash-deal-product-sell-time {
        background: rgb(240, 240, 240);
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 280px;
        width: fit-content;
        margin: 1rem 0;

    }
}

.flash-deal-product-availability {
    * {
        font-size: 1.6rem;
    }

    p {
        color: var(--color-black);
    }
}

.flash-deal-product-description p {
    height: 78px;
    color: var(--color-black);
    overflow: hidden;
    text-align: justify;
    font-size: 1.4rem;
}

.flash-deal-product-sell-time {
    h3 {
        font-weight: normal;
        color: var(--color-primary);
        width: fit-content;
        gap: 2rem;
        display: flex;
        align-items: center;
        margin: 0.6rem 0;
        font-size: 1.4rem;
    }

    span {
        font-weight: normal;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    br {
        height: 2px;
    }
}

.flash-deal-product-utility {
    order: 4;

    a {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    a>i {
        font-size: 1.4rem;
    }

    a>span {
        font-size: 1.4rem;
        font-weight: 500;
    }

    .bg-grey {
        max-width: 40px;
        max-height: 40px;
        background-color: #f0f0f0;
    }

    .button-cart {
        gap: 1rem;
    }
}

.itemQuickView {
    position: relative;
}

.tooltiptext {
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    visibility: hidden;
    width: max-content;
    background-color: #555;
    color: #fff;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.itemQuickView:hover .tooltiptext,
.add-to-product-compare:hover .tooltiptext,
.add-to-wishlist:hover .tooltiptext,
.sc-add-to-cart:hover .tooltiptext {
    visibility: visible;
    font-size: 1.2rem;
    padding: 6px 10px;
    opacity: 1;
}

.flash-deal-product-rating {
    display: flex;

    ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
    }

    ul li i {
        font-size: 1.8rem;
        color: var(--color-primary);
    }
}


// ------- flash deal end ------ \\


// ------- multi tabs ---------- \\

.feature-tabs {
    display: flex;
    align-items: center;
    padding: 0 10px;

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        margin: 0 !important;
    }

    ul li {
        display: flex;
        /* align-items: center; */
        border: 1px solid var(--gray);
        padding: 2px 15px;
        margin-top: 0 !important;
        margin-inline-end: 15px;
        border-radius: 1rem !important;
        letter-spacing: 0.5px;
    }
    ul li:hover {
        border: 1px solid var(--color-primary);
        color: var(--color-primary);
    }

    ul li.active {
        color: var(--color-primary);
        box-shadow: var(--box-shadow);
        border: 2px solid var(--color-primary);
    }
    ul li a {
        color: var(--color-black);
    }
    ul li.active a {
        color: inherit;
    }
}